body {
  background-color: #1ed760;
}

.posted-quote{
  border: 1px solid antiquewhite;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 900px;
  text-align: center;
  background-color: antiquewhite;
  margin: 5px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}